process {
    // Tvinga alla Nextflow sub-processer att använda 'slurm' executor
    executor = 'slurm'
    
    // Tvinga alla sub-processer att använda den godkända partitionen 'shared'
    queue = 'shared'
    
    // Tvinga alla sub-processer att använda ditt konto. Detta är den troligaste lösningen!
    clusterOptions = '-A naiss2025-22-1652'
}
